* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  width: 100vw;
  height: 100vh; }

/*
    Modal-Simple (simple modal is here)

    Markup:
    <div class="modal-simple shadow--lg">
        <form class="modal-simple__form">
            <p class="modal-simple__form__label">Enter Card Number</p>
            <input value="Eastern Bank" type="text" class="input-field-lg margin--tmd bg--ash border-outline--none"/>
            <p class="modal-simple__form__label margin--tmd">Enter current amount</p>
            <input value="27,550 TK" type="text" class="input-field-lg margin--tmd bg--ash border-outline--none"/>
            <div class="modal-simple__form__btns margin--tmd">
                <button class="btn-sm border-outline--none">cencle</button>
                <button class="btn-sm margin-lmd border-outline--none text--white bg--success">save</button>
            </div>
        </form>
    </div>

    Styleguide Blocks.modal.modal-simple
*/
.modal-simple {
  width: 41.875rem;
  height: 21.875rem;
  background: #fff;
  padding: 3rem 6rem;
  font-size: 1.125rem;
  border-radius: 5px; }
  .modal-simple__form {
    width: 84%; }
    .modal-simple__form__label {
      color: #757575; }
    .modal-simple__form__btns {
      float: right; }
      .modal-simple__form__btns button {
        border-radius: 3px;
        font-size: 1.125rem; }

/*
    Modal-Flex (flex modal is here)

    Markup:
    <div class="modal-tow-d shadow--lg">
        <form class="modal-tow-d__form">
            <div class="modal-two-d__form-left">
                <p class="modal-tow-d__form__label">Transaction Name</p>
                <input value="31st Night Sell" type="text" class="input-field-sm margin--tmd bg--ash border-outline--none"/>
                <p class="modal-tow-d__form__label margin--tmd">Income/ Expense</p>
                <div class="margin--tmd">
                    <button class="btn-xsm border-outline--none">+</button>
                    <button class="btn-xsm border-outline--none">-</button>
                </div>
            </div>
            <div class="modal-two-d__form-right margin--l">
                <p class="modal-tow-d__form__label">Enter Card Number</p>
                <input value="Eastern Bank" type="text" class="input-field-sm margin--tmd bg--ash border-outline--none"/>
                <p class="modal-tow-d__form__label margin--tmd">Enter current amount</p>
                <input value="27,550 TK" type="text" class="input-field-sm margin--tmd bg--ash border-outline--none"/>
                <div class="modal-tow-d__form__btns margin--tmd">
                    <button class="btn-sm border-outline--none">cencle</button>
                    <button class="btn-sm margin-lmd border-outline--none text--white bg--success">text</button>
                </div>
            </div>
        </form>
    </div>

    Styleguide Blocks.modal.modal-two-d
*/
.modal-tow-d {
  width: 41.875rem;
  height: 21.875rem;
  background: #fff;
  padding: 3rem 6rem;
  font-size: 1.125rem;
  border-radius: 5px; }
  .modal-tow-d__form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 94%;
    height: 100%; }
    .modal-tow-d__form__btns {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .modal-tow-d__form__btns button {
        border-radius: 3px;
        font-size: 1.125rem; }

/*
    Dropdown-Menu (dropdown menu with some navigation items)

    Markup:
    <ul class="dropdown-menu shadow--lg padding--md">
        <li class="nav-item">
            <img class="nav-item__icon" src="../../icons/accounts-drop.svg"/>
            <a class="nav-item__link text--gray" href="#">add account</a>
        </li>
        <li class="nav-item">
            <img class="nav-item__icon" src="../../icons/transaction-drop.svg"/>
            <a class="nav-item__link text--gray" href="#">add transaction</a>
        </li>
        <li class="nav-item">
            <img class="nav-item__icon" src="../../icons/budget-drop.svg"/>
            <a class="nav-item__link text--gray" href="#">add budget</a>
        </li>
    </ul>

    Styleguide Blocks.dropdown.dropdown-menu
*/
.dropdown-menu {
  width: 14rem;
  height: 11.25rem;
  background: #fff; }

/*
    btn-xsm (button extra small)

    Markup:
    <button class="btn-xsm">+</button>

    Styleguide Lib.buttons.btn-xsm
*/
.btn-xsm {
  width: 3.125rem;
  height: 3.125rem;
  font-weight: 700;
  font-size: 30px; }

/*
    btn-sm (button small)

    Markup:
    <button class="btn-sm">text</button>

    Styleguide Lib.buttons.btn-sm
*/
.btn-sm {
  width: 6.25rem;
  height: 3.125rem;
  font-weight: 700; }

/*
    btn-md (button medium)

    Markup:
    <button class="btn-md">text</button>

    Styleguide Lib.buttons.btn-md
*/
.btn-md {
  width: 8.25rem;
  height: 3.125rem;
  font-weight: 700; }

/*
    btn-lg (button larg)

    Markup:
    <button class="btn-lg">text</button>

    Styleguide Lib.buttons.btn-lg
*/
.btn-lg {
  width: 12rem;
  height: 3.125rem;
  font-weight: 700; }

/*
    btn-xlg (button extra large)

    Markup:
    <button class="btn-xlg">text</button>

    Styleguide Lib.buttons.btn-xlg
*/
.btn-xlg {
  width: 17.5rem;
  height: 3.125rem;
  border-radius: 0.5rem;
  font-weight: 700; }

/*
    input-field-xsm (input field extra small )

    Markup:
    <input placeholder="text" type="text" class="input-field-xsm"/>

    Styleguide Lib.Inputs.input-field-xsm
*/
.input-field-xsm {
  width: 7.5rem;
  padding: 1rem;
  border-radius: 0.8rem; }

/*
    input-field-sm (input field small)

    Markup:
    <input placeholder="text" type="text" class="input-field-sm"/>

    Styleguide Lib.Inputs.input-field-sm
*/
.input-field-sm {
  width: 14.375rem;
  padding: 1rem;
  border-radius: 0.8rem; }

/*
    input-field-md (input field medium)

    Markup:
    <input placeholder="text" type="text" class="input-field-md"/>

    Styleguide Lib.Inputs.input-field-md
*/
.input-field-md {
  width: 17.5rem;
  padding: 1rem;
  border-radius: 0.5rem; }

/*
    input-field-lg (input field larg)

    Markup:
    <input placeholder="text" type="text" class="input-field-lg"/>

    Styleguide Lib.Inputs.input-field-lg
*/
.input-field-lg {
  width: 25rem;
  padding: 1rem;
  border-radius: 0.5rem; }

/*
    input-field-xlg (input field extra larg )

    Markup:
    <input placeholder="text" type="text" class="input-field-xlg"/>

    Styleguide Lib.Inputs.input-field-xlg
*/
.input-field-xlg {
  width: 100%;
  padding: 1rem;
  border-radius: 1.5rem; }

/*
    nav-item (navigation-item)

    Markup:
    <li class="nav-item padding--md margin--tmd">
        <img class="nav-item__icon" src="../../icons/setting-ac.svg"/>
        <a class="nav-item__link" href="#">Settings</a>
    </li>

    Styleguide Lib.Navs.nav-item
*/
.nav-item {
  width: 100%;
  font-weight: 500;
  font-size: 1rem;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .4s;
  cursor: pointer; }
  .nav-item__link {
    text-decoration: none;
    flex-grow: 2;
    margin-left: 0.8rem;
    color: #EBEEFF; }

.nav-item:hover {
  background-color: #889DFF;
  border-radius: .25rem; }
  .nav-item:hover a {
    color: #fff; }

.tab-item {
  list-style-type: none; }
  .tab-item__link {
    text-decoration: none; }

/*
    icon-xsm (icon extra small ---> size: 16/16)

    Markup:
    <i class="icon-xsm">
        <img class="icon-xsm__img" src="../../icons/out.svg"/>
    </i>

    Styleguide Lib.icons.icon-xsm
*/
.icon-xsm {
  display: inline-block;
  width: 16px;
  height: 16px; }
  .icon-xsm__img {
    width: 100%;
    height: 100%; }

/*
    icon-xsm (icon small ---> size: 20/20)

    Markup:
    <i class="icon-sm">
        <img class="icon-sm__img" src="../../icons/out.svg"/>
    </i>

    Styleguide Lib.icons.icon-sm
*/
.icon-sm {
  display: inline-block;
  width: 20px;
  height: 20px; }
  .icon-sm__img {
    width: 100%;
    height: 100%; }

/*
    icon-md (icon medium ---> size: 24/24)

    Markup:
    <i class="icon-md">
        <img class="icon-md__img" src="../../icons/out.svg"/>
    </i>

    Styleguide Lib.icons.icon-md
*/
.icon-md {
  display: inline-block;
  width: 24px;
  height: 24px; }
  .icon-md__img {
    width: 100%;
    height: 100%; }

/*
    icon-lg (icon larg ---> size: 28/28)

    Markup:
    <i class="icon-lg">
        <img class="icon-lg__img" src="../../icons/out.svg"/>
    </i>

    Styleguide Lib.icons.icon-lg
*/
.icon-lg {
  display: inline-block;
  width: 28px;
  height: 28px; }
  .icon-lg__img {
    width: 100%;
    height: 100%; }

/*
    icon-xlg (icon extra larg ---> size: 32/32)

    Markup:
    <i class="icon-xlg">
        <img class="icon-xlg__img" src="../../icons/out.svg"/>
    </i>

    Styleguide Lib.icons.icon-xlg
*/
.icon-xlg {
  display: inline-block;
  width: 32px;
  height: 32px; }
  .icon-xlg__img {
    width: 100%;
    height: 100%; }

/*
    card (it's a pre build card with a background image)

    Markup:
    <li class="card margin--auto margin--b padding--md text--white">
        <p class="card__title">
            Dutch Bangla Bank
        </p>
        <p class="card__footer text--white">
            27,550 TK
        </p>
    </li>

    Styleguide Lib.cards.card
*/
.card {
  background-image: url("../../../img/card-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 14.375rem;
  height: 8.125rem;
  position: relative; }
  .card__title {
    font-size: 1.125rem;
    font-weight: 600;
    position: absolute; }
  .card__footer {
    font-size: 1.25rem;
    position: absolute;
    bottom: 15px;
    right: 15px; }

/*
    th-four (table head four items)

    Markup:
    <thead  class="th-four-head">
        <tr class="th-four-head__row">
            <th class="th-four-head__row__col">Budget Name</th>
            <th class="th-four-head__row__col">Created Date</th>
            <th class="th-four-head__row__col">Amount</th>
            <th class="th-four-head__row__col">Actions</th>
        </tr>
    </thead>

    Styleguide Lib.Table.th-four

*/
.th-four-head {
  display: block;
  border-radius: 1.25rem; }
  .th-four-head__row {
    height: 3.75rem; }
    .th-four-head__row__col {
      width: 17rem; }

/*
    th-four (table head four items)

    Markup:
    <thead  class="th-four-head">
        <tr class="th-four-head__row">
            <th class="th-four-head__row__col">Name</th>
            <th class="th-four-head__row__col">Date</th>
            <th class="th-four-head__row__col">Account</th>
            <th class="th-four-head__row__col">Amount</th>
            <th class="th-four-head__row__col">Actions</th>
        </tr>
    </thead>

    Styleguide Lib.Table.th-four

*/
.th-five-head {
  display: block; }
  .th-five-head__row {
    height: 3.75rem; }
    .th-five-head__row__col {
      width: 18rem; }

/*
    td-four (table body four items)

    Markup:
    <tbody  class="td-four-body">
        <tr class="td-four-body__row border--bottom">
            <td class="td-four-body__row__col">
                <div class="td-four-body__row__col--first">
                    <img class="icon-sm" src="./icons/out.svg"/>
                    <span class="margin--lmd">Settings</span>
                </div>
            </td>
            <td class="align--center td-four-body__row__col">
                12/9/2020
            </td>
            <td class="align--center td-four-body__row__col">
                -1590 TK
            </td>
            <td class="align--center td-four-body__row__col">
                <img src="./icons/delete.svg" alt=""/>
                <img class="margin--lmd" src="./icons/markar.svg" alt=""/>
            </td>
        </tr>
    </tbody>

    Styleguide Lib.Table.td-four

*/
.td-four-body {
  display: block;
  overflow: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  height: 30rem; }
  .td-four-body__row {
    height: 3.75rem;
    border-radius: 1.25rem;
    display: block; }
    .td-four-body__row__col {
      width: 17rem; }
      .td-four-body__row__col--first {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3.85rem;
        border-radius: 1.25rem 0px 0px 1.25rem; }

.td-four-body::-webkit-scrollbar {
  display: none; }

/*
    td-five (td five element here)

    Markup:
     <tbody class="td-five-body">
        <tr class="td-five-body__row border--bottom">
            <td class="td-five-body__row__col">
                <div class="td-five-body__row__col--first">
                    <img class="icon-sm" src="../../icons/out.svg"/>
                    <span class="margin--lmd">Settings</span>
                </div>
            </td>
            <td class="align--center td-five-body__row__col">
                12/9/2020
            </td>
            <td class="align--center td-five-body__row__col">
                city bank
            </td>
            <td class="align--center td-five-body__row__col">
                -1590 TK
            </td>
            <td class="align--center td-five-body__row__col">
                <img src="./icons/delete.svg" alt=""/>
                <img class="margin--lmd" src="./icons/markar.svg" alt=""/>
            </td>
        </tr>
    </tbody>

    Styleguide Lib.Table.td-five-body
*/
.td-five-body {
  display: block;
  overflow: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  height: 30rem; }
  .td-five-body__row {
    height: 3.75rem; }
    .td-five-body__row__col {
      width: 18rem; }
      .td-five-body__row__col--first {
        display: flex;
        align-items: center;
        justify-content: center; }

.td-five-body::-webkit-scrollbar {
  display: none; }

/*
    Budgets-item (budgets single item)

    Markup:
    <li class="budgets-item shadow--sm margin--t">
        <div class="budgets-item__info padding--md">
            <img class="budgets-item__info__icon" src="../../icons/travel.svg"/>
            <p class="budgets-item__info__text text--white">some text</p>
        </div>
        <div class="budgets-item__amount bg--white align--center">
            <p>200/-</p>
        </div>
    </li>

    Styleguide Lib.items.budgets-item
*/
.budgets-item {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.5rem; }
  .budgets-item__info {
    background-color: #263268;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1.5rem 0px 0px 1.5rem;
    height: 100%;
    width: 65%; }
    .budgets-item__info__text {
      flex-grow: 2;
      margin-left: 0.8rem;
      font-size: 0.875rem; }
  .budgets-item__amount {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100%;
    border-radius: 0px 1.5rem 1.5rem 0px; }

/*
    Trans-item (transaction single item)

    Markup:
    <li class="trans-item margin--t">
        <div class="trans-item__info">
            <img class="trans-item__info__icon" src="../../icons/in.svg"/>
            <div class="trans-item__info__text">
                <h4 class="trans-item__info__text__title">some text<h4>
                <p class="trans-item__info__text__sub-title">Bank name</p>
            </div>
        </div>
        <div class="trans-item__amount padding--md bg--white">
            200 TK
        </div>
    </li>
    <li class="trans-item margin--t">
        <div class="trans-item__info">
            <img class="trans-item__info__icon" src="../../icons/out.svg"/>
            <div class="trans-item__info__text">
                <h4 class="trans-item__info__text__title">some text<h4>
                <p class="trans-item__info__text__sub-title">Bank name</p>
            </div>
        </div>
        <div class="trans-item__amount padding--md bg--white">
            -200 TK
        </div>
    </li>

    Styleguide Lib.items.trans-item
*/
.trans-item {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.25rem;
  position: relative; }
  .trans-item__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 100%;
    color: #424242; }
    .trans-item__info__text {
      flex-grow: 2;
      margin-left: 1.5rem;
      font-weight: 500; }
      .trans-item__info__text__sub-title {
        font-size: 0.5rem;
        margin-top: .2rem; }
  .trans-item__amount {
    width: 30%;
    color: #424242; }
  .trans-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.0725rem;
    background: #EBEEFF;
    left: 15px;
    bottom: 0px; }

.brand-logo {
  width: 100%;
  text-align: center; }
  .brand-logo__logo {
    width: 50%; }
  .brand-logo__title {
    font-size: 1.125rem; }

/*
    content-main (This is the main content of Dashboard)
    
    Markup:
    <section class="container__content-main margin--md">
        <div class="content-left padding--lg">
        </div>
        <div class="content-right">
        </div>
    </section>

    Styleguide Pages.dashboard.content-main
*/
.container__content-main {
  background-color: #f5f5f5;
  border-radius: 2.5rem; }
  .container__content-main .content-left {
    width: 70%; }
  .container__content-main .content-right {
    width: 30%; }

/*
    Search-box (this is the header search bar of dashboard)

    Markup:
    <div class="search-box shadow--sm">
        <div class="search-box__search-bar shadow--sm bg--white">
            <img class="margin--lmd" src="../../../icons/search.svg" alt="">
            <input placeholder="Search" type="text" class="input-field-xlg border-outline--none "/>
        </div>
        <div class="search-box__notification margin--lmd">
            <img src="../../../icons/notification.svg" alt="">
        </div>
        <div class="search-box__add margin--lmd">
            <img src="../../../icons/plus.svg" alt="">
        </div>
    </div>

    Styleguide Pages.dashboard.search-box
*/
.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .search-box__search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1.5rem;
    flex-grow: 1; }

.sign-container {
  display: flex;
  width: 65%;
  height: 88%;
  border-radius: 10px;
  margin: 3rem auto;
  position: relative; }
  .sign-container__form {
    width: 50%;
    height: 100%;
    background-color: #506df5; }
  .sign-container__img {
    width: 50%;
    height: 100%; }
    .sign-container__img-image {
      width: 54%;
      position: absolute;
      bottom: -4px;
      right: 4px; }

.title-section {
  margin-top: 4rem;
  height: 5rem; }
  .title-section__title {
    font-size: 2.25rem; }
  .title-section__moto {
    font-size: 1rem;
    font-weight: 700;
    width: 14rem;
    position: relative; }
    .title-section__moto::before {
      content: "";
      position: absolute;
      border-bottom: 0.8px solid #EBEEFF;
      top: 35px;
      left: 16px;
      width: 12rem; }

.form-section {
  margin: 9rem auto;
  text-align: center;
  width: 19rem;
  height: 20.125rem; }
  .form-section__legend-title {
    font-size: 1.125rem;
    font-weight: 700; }

/*
    container (this is main container of dashboard)

    Markup:
    <main class="container margin-tb--auto">
        <section class="container__nav-menu"></section>
        <section class="container__content-main margin--md"></section>
    </main>

    Styleguide Pages.dashboard.main-content
*/
.container {
  border-radius: 3.1rem;
  display: flex;
  height: 90vh;
  width: 95vw; }
  .container__nav-menu {
    width: 15%; }
  .container__content-main {
    width: 85%;
    height: 100%; }

.money-status {
  height: 35vh; }
  .money-status__statis-img {
    width: 100%; }

/*
    transaction-wrap (this is wrapping budgets items section and transaction item seciton)

    Markup:
    <div class="transaction-wrap">
        <div class="transaction-wrap__budgets">
            <h3 class="margin--tlg margin--lmd">Budgets</h3>
            <ul class="budgets-items  padding--md">
                <li class="budgets-item shadow--sm">
                    <div class="budgets-item__info padding--md">
                        <img class="budgets-item__info__icon" src="../../icons/travel.svg"/>
                        <p class="budgets-item__info__text text--white">some text</p>
                    </div>
                    <div class="budgets-item__amount bg--white">
                        <p>200/-</p>
                    </div>
                </li>            
            </ul>
        </div>
        <div class="transaction-wrap__transaction">
            <h3 class="margin--tlg">Recent Transactions</h3>
            <ul class="transaction-items bg--white padding--md margin--tmd">
                <li class="trans-item">
                    <div class="trans-item__info">
                        <img class="trans-item__info__icon" src="../../icons/in.svg"/>
                        <div class="trans-item__info__text">
                            <h4 class="trans-item__info__text__title">some text<h4>
                            <p class="trans-item__info__text__sub-title">Bank name</p>
                        </div>
                        </div>
                    <div class="trans-item__amount padding--md ">
                        200 TK
                    </div>
                </li>
            </ul>
        </div>
    </div>

    Styleguide Pages.dashboard.transactions
*/
.transaction-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 30vh; }
  .transaction-wrap__budgets {
    width: 48%; }
    .transaction-wrap__budgets .budgets-items {
      overflow: scroll;
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
      max-height: 18rem; }
    .transaction-wrap__budgets .budgets-items::-webkit-scrollbar {
      display: none; }
  .transaction-wrap__transactions {
    width: 48%; }
    .transaction-wrap__transactions .transaction-items {
      border-radius: 1.25rem;
      overflow: scroll;
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
      height: 15rem; }
    .transaction-wrap__transactions .transaction-items::-webkit-scrollbar {
      display: none; }

.wallet-balance {
  text-align: center; }
  .wallet-balance__title {
    font-size: 1.125rem; }
  .wallet-balance__balance {
    font-size: 1.875rem; }

.card-wrap {
  display: block;
  height: 26rem;
  overflow: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }

.card-wrap::-webkit-scrollbar {
  display: none; }

.account-tab {
  width: 20rem; }
  .account-tab .tab-items {
    display: flex;
    align-items: center;
    justify-content: center; }

.accounts-card {
  overflow: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  height: 40%;
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.accounts-card::-webkit-scrollbar {
  display: none; }

.user-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; }
  .user-profile__avatar {
    width: 3rem;
    height: 3rem; }
    .user-profile__avatar__img {
      width: 100%;
      height: 100%;
      border-radius: 50%; }
  .user-profile__email-name {
    flex-grow: 1; }
    .user-profile__email-name__name {
      font-size: 1.125rem; }
    .user-profile__email-name__email {
      font-size: 0.625rem; }
  .user-profile__logout {
    cursor: pointer; }

.accounts-transaction-statistics {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.current-balance {
  width: 30%;
  height: 85%;
  background-color: #889DFF;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .current-balance__title {
    font-size: 1rem;
    font-weight: 500; }
  .current-balance__money {
    font-weight: 500;
    font-size: 1.625rem; }

/*
    Transaction-history-card 

    Markup:
    <li class="trans-history-card padding--md margin--bmd">
        <div class="card margin--b padding--md text--white">
            <p class="card__title">
                Dutch Bangla Bank
            </p>
            <p class="card__footer text--white">
                27,550 TK
            </p>
        </div>
        <div class="trans-history-card__extend">
            <h2 class="align--center margin--blg">27,550 TK</h2>
            <div class="row">
                <div class="col--6">
                    <div class="align--center">
                        <img src="../../icons/arrow-down.svg" alt="">
                    </div>
                    <h5 class="align--center">
                        15,000.00 TK
                    </h5>
                </div>
                <div class="col--6">
                    <div class="align--center">
                        <img src="../../icons/arrow-up.svg" alt="">
                    </div>
                    <h5 class="align--center">
                        9750.00 TK
                    </h5>
                </div>
            </div>
        </div>
    </li>

    Styleguide Pages.accounts.trans-history-card
*/
.trans-history-cards {
  height: 35rem;
  overflow: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }
  .trans-history-cards .trans-history-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    background: linear-gradient(270deg, #EBE9E9 9.03%, rgba(235, 233, 233, 0.69) 39.07%);
    border-radius: 1rem; }
    .trans-history-cards .trans-history-card .trans-history-card__extend {
      width: 40%; }

.trans-history-cards::-webkit-scrollbar {
  display: none; }

.accounts-transaction {
  border-radius: 1.25rem;
  height: 70%;
  overflow: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }

.accounts-transaction::-webkit-scrollbar {
  display: none; }

.accounts-transaction-wrapper {
  width: 100%;
  height: 100%; }

.total-trans-history-table {
  width: 90%;
  height: 100%; }
  .total-trans-history-table__table {
    width: 100%;
    border-radius: 1.25rem 1.25rem 0 0;
    border-collapse: collapse; }

.total-budgets-history-table {
  width: 100%;
  height: 100%; }
  .total-budgets-history-table__table {
    width: 85%;
    border-radius: 1.25rem; }

/* 
* Utility Rules Defined Here
* All Type of Utility Tools will Describe Here
*/
/*layout utility*/
.row {
  display: flex;
  flex-flow: row wrap; }

.col--1 {
  flex-basis: calc((100% * 1) / 12); }

.col--2 {
  flex-basis: calc((100% * 2) / 12); }

.col--3 {
  flex-basis: calc((100% * 3) / 12); }

.col--4 {
  flex-basis: calc((100% * 4) / 12); }

.col--5 {
  flex-basis: calc((100% * 5) / 12); }

.col--6 {
  flex-basis: calc((100% * 6) / 12); }

.col--7 {
  flex-basis: calc((100% * 7) / 12); }

.col--8 {
  flex-basis: calc((100% * 8) / 12); }

.col--9 {
  flex-basis: calc((100% * 9) / 12); }

.col--10 {
  flex-basis: calc((100% * 10) / 12); }

.col--11 {
  flex-basis: calc((100% * 11) / 12); }

.col--12 {
  flex-basis: calc((100% * 12) / 12); }

/*layout utility*/
/*
* Utility Rules Defined end here
* All Type of Utility Tools will Describe Here
*/
/*margin-utility*/
.margin--auto {
  margin: auto; }

.margin-t--auto {
  margin: 2rem auto; }

.margin {
  margin: 0.5rem; }

.margin--md {
  margin: 1rem; }

.margin--lg {
  margin: 2rem; }

.margin--y {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.margin--ymd {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.margin--ylg {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.margin--x {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.margin--xmd {
  margin-left: 1rem;
  margin-right: 1rem; }

.margin--xlg {
  margin-left: 2rem;
  margin-right: 2rem; }

.margin--t {
  margin-top: 0.5rem; }

.margin--tmd {
  margin-top: 1rem; }

.margin--tlg {
  margin-top: 2rem; }

.margin--r {
  margin-right: 0.5rem; }

.margin--rmd {
  margin-right: 1rem; }

.margin--rlg {
  margin-right: 2rem; }

.margin--b {
  margin-bottom: 0.5rem; }

.margin--bmd {
  margin-bottom: 1rem; }

.margin--blg {
  margin-bottom: 2rem; }

.margin--l {
  margin-left: 0.5rem; }

.margin--lmd {
  margin-left: 1rem; }

.margin--llg {
  margin-left: 2rem; }

/*margin-utility*/
/*padding utility*/
.padding--sm {
  padding: 0.5rem; }

.padding--md {
  padding: 1rem; }

.padding--lg {
  padding: 2rem; }

.padding--y {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.padding--ymd {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.padding--ylg {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.padding--x {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.padding--xmd {
  padding-left: 1rem;
  padding-right: 1rem; }

.padding--xlg {
  padding-left: 2rem;
  padding-right: 2rem; }

.padding--t {
  padding-top: 0.5rem; }

.padding--tmd {
  padding-top: 1rem; }

.padding--tlg {
  padding-top: 2rem; }

.padding--r {
  padding-right: 0.5rem; }

.padding--rmd {
  padding-right: 1rem; }

.padding--rlg {
  padding-right: 2rem; }

.padding--b {
  padding-bottom: 0.5rem; }

.padding--bmd {
  padding-bottom: 1rem; }

.padding--blg {
  padding-bottom: 2rem; }

.padding--l {
  margin-left: 0.5rem; }

.padding--lmd {
  padding-left: 1rem; }

.padding--llg {
  padding-left: 2rem; }

/*padding utility*/
/*border outline none*/
.border-outline--none {
  outline: none;
  border: none; }

/*shadow utility*/
.shadow--lg {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25); }

.shadow--md {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25); }

.shadow--sm {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1); }

/*shadow utility*/
.display--i {
  display: inline; }

.display--n {
  display: none; }

.display--b {
  display: block; }

.align--right {
  text-align: right; }

.align--left {
  text-align: left; }

.align--center {
  text-align: center; }

/*
colors utilities..
*/
.text--secondary {
  color: #506df5; }

.text--primary {
  color: #f5f5f5; }

.text--info {
  color: #263268; }

.text--white {
  color: #fff; }

.text--black {
  color: #000; }

.text--berry {
  color: #263268; }

.text--success {
  color: #0F801B; }

.text--ash {
  color: #EBEEFF; }

.text--gray {
  color: #757575; }

.text-deep--gray {
  color: #424242; }

.bg--gray {
  background: #757575; }

.bg--secondary {
  background-color: #506df5; }

.bg--primary {
  background-color: #f5f5f5; }

.bg--info {
  background-color: #263268; }

.bg--white {
  background-color: #fff; }

.bg--berry {
  background-color: #263268; }

.bg--success {
  background-color: #0F801B; }

.bg--ash {
  background-color: #EBEEFF; }

.bg-deep--gray {
  background-color: #424242; }

/*colors utilities*/
/*active classes
*/
.active {
  background-color: #889DFF;
  border-radius: .25rem; }
  .active a {
    color: #fff; }

.active--tab {
  border-bottom: 4px solid #506df5; }
  .active--tab a {
    color: #000; }

/*
active classes
*/
/*border classes, those utilities use just in this project*/
.border--left {
  border-left: 1px solid #e0e0e0; }

.border--bottom {
  border-bottom: 1px solid #e0e0e0; }

/*border classes, those utilities use just in this project*/
/*scroll clearfix classes is writtern here.*/
.scroll--clearfix {
  height: 15rem; }

/*scroll clearfix classes is written here.*/
