.card-wrap{
    display:block;
    height:26rem;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.card-wrap::-webkit-scrollbar{
    display:none;
}