/*
    container (this is main container of dashboard)

    Markup:
    <main class="container margin-tb--auto">
        <section class="container__nav-menu"></section>
        <section class="container__content-main margin--md"></section>
    </main>

    Styleguide Pages.dashboard.main-content
*/


.container {
    border-radius: $border-radius-xlg;
    display: flex;
    height: 90vh;
    width: 95vw;

    &__nav-menu {
        width: 15%;
    }

    &__content-main {
        width: 85%;
        height:100%;
    }
}