/*
    container (this is main container of dashboard)

    Markup:
    <main class="container">
        <section class="container-content__manu-main"></section>
        <section class="container-content__content-main"></section>
    </main>

    Styleguide Pages.dashboard.container
*/


.container {
    background-color: $secondary-color;
    height: 90vh;
    width: 95vw;
    border-radius: $border-radius-xlg;
    display: flex;

    .menu-main {
        width: 14%;
    }

    .content-main {
        width: 86%;
    }
}