/*
    container (this is main container of dashboard)

    Markup:
    <main class="main-content">
        <section class="main-content__stack-menu"></section>
        <section class="main-content__stack-content"></section>
    </main>

    Styleguide Pages.dashboard.main-content
*/


.main-content {
    background-color: $secondary-color;
    height: 90vh;
    width: 95vw;
    border-radius: $border-radius-xlg;
    display: flex;

    &__stack-menu {
        width: 14%;
    }

    &__stack-content {
        width: 86%;
        background-color: $primary-color;
        border-radius: $border-radius-lg;
    }
}