@mixin d-flex($justify-content) {
    display: flex;
    align-items: center;
    justify-content: $justify-content;
}

@mixin d-flex-align($align-items) {
    display:flex;
    align-items: $align-items;
    justify-content: space-between;
}