$brand-font-family: 'Montserrat', sans-serif;
$text-font-family: 'Roboto', sans-serif;

$primary-color:#f5f5f5;
$secondary-color:#506df5;
$info-color:#263268;
$white-color:#fff;
$black-color:#000;
$blue-berry-color:#263268;
$success-color:#0F801B;
$ash-color:#EBEEFF;
$text-color:#424242;

$font-size-brand: 36px;
$font-size-tiny:8px;
$font-size-text: 10px;
$font-size-title-sm: 14px;
$font-size-title-md: 16px;
$font-size-title-lg: 18px;
$font-size-title-xlg: 20px;

$font-weight-normal: 400;// normal
$font-weight-medium: 500;
$font-weight-bold: 700;// bold

$border-radius-sm: 1.25rem;
$border-radius-md: 1.5rem;
$border-radius-lg: 2.5rem;
$border-radius-xlg: 3.1rem;