$brand-font-family: 'Montserrat', sans-serif;
$text-font-family: 'Roboto', sans-serif;

$primary-color:#f5f5f5;
$secondary-color:#506df5;
$info-color:#263268;
$white-color:#fff;
$black-color:#000;
$blue-berry-color:#263268;
$success-color:#0F801B;
$ash-color:#EBEEFF;
$text-color:#424242;
$color-gray:#757575;


$font-size-brand: 2.25rem;
$font-size-tiny:0.5rem;
$font-size-text: 0.625rem;
$font-size-title-sm: 0.875rem;
$font-size-title-md: 1rem;
$font-size-title-lg: 1.125rem;
$font-size-title-xlg: 1.25rem;

$font-weight-normal: 400;// normal
$font-weight-medium: 500;
$font-weight-bold: 700;// bold

$border-radius-sm: 1.25rem;
$border-radius-md: 1.5rem;
$border-radius-lg: 2.5rem;
$border-radius-xlg: 3.1rem;