/*
    content-main (This is the main content of Dashboard)
    
    Markup:
    <section class="container__content-main margin--md">
        <div class="content-left padding--lg">
        </div>
        <div class="content-right">
        </div>
    </section>

    Styleguide Pages.dashboard.content-main
*/


.container__content-main {
    // @include d-flex-align(flex-start);
    
    background-color: $primary-color;
    border-radius: $border-radius-lg;

    .content-left {
        width: 70%;
        // height:12%;
        
    }

    .content-right {
        width: 30%;
        // height:12%;
    }   

}