.form-section{
    margin: 9rem auto;
    text-align: center;
    width:19rem;
    height: 20.125rem;

    &__legend-title{
        font-size: $font-size-title-lg;
        font-weight: $font-weight-bold;
    }
}