.sign-container{
    display: flex;
    width:65%;
    height: 88%;
    border-radius: 10px;
    margin: 3rem auto;
    position: relative;

    &__form{
        width: 50%;
        height: 100%;
        background-color: $secondary-color;
    }

    &__img{
        width: 50%;
        height:100%;
        
        // position: absolute;
        // bottom:-4px;
        // right:2rem;
        
        &-image{
            width:54%;
            position: absolute;
            bottom:0px;
            right:0px;
        }
    }
}
