.upload-file{
    grid-row:3/-1;
    // grid-row-start:3;
    // grid-row-end: -1;
    width:60%;
    height:60%;

    &__label{
        cursor: pointer;
    }
    &__input{
        opacity: 0;
        position: absolute;
        z-index: -1;
    } 
}